.sidebar {
    z-index: 1;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;

}
#title > button {
    position: static;
    float: right;
}
#title {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 5px;
}
button.list-group-item:focus {
    border-left-color: #5BC0DE;
    border-left-width: 3px;
}
.sidebar-nav {
    margin-bottom: 5px;
}